#result{
    .container{
        display:grid;
        grid-template-columns: auto auto;
    }
    .box{
        margin:50px;
        // width: 40vw;
        // height: 500px;
        // background: wheat;
    }
}